body{
  background-color:#333333;
  color:white;
}

.landing-container{
  max-width:300px;
}
.au-logo{
  width:250px;
  height:100px;
  background-image:url("/img/aurum-powered-by-logo.png");
  margin-bottom:50px;
}
