/* <BEGIN> AURUM CSS RESET */

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  background-size:contain;
  background-position:center;
	background-repeat:no-repeat;
	scroll-behavior: inherit;
  font-family:inherit;
  -webkit-tap-highlight-color: transparent;
}

/* page elements */
html{
	scroll-behavior: smooth;
}
body{
	cursor:default;
}
/* *********************** */
/* *********************** */


/* internal elements */
svg{
  width:100%;
  height:100%;
	fill:currentColor;
}
pre,
code{
  font-family:monospace;
}
code{
  padding:0 5px;
  white-space: nowrap;
  border-radius:2px;
}
pre code{
  display:block;
  padding: 20px;
  line-height:1.1;
  white-space: break-spaces;
  overflow:auto;
}

/* universal classes */
.hide{
  display:none;
}
.show{
  display:block;
}
.clickable{
  cursor:pointer;
}
/* *********************** */
/* *********************** */
/* <END> AURUM CSS RESET */
/* *********************** */
/* *********************** */
/* <BEGIN> AURUM FLEX STYLES */

/* container (parent of flex items) */
.au.flex-container,
[data-au~="flex-container"]{
  display:flex;
  flex-direction:row;
}
.au.flex-vertical,
[data-au~="flex-vertical"]{
  flex-direction: column;
}
.au.flex-horizontal,
[data-au~="flex-horizontal"]{
  flex-direction: row;
}
.au.flex-wrap,
[data-au~="flex-wrap"]{
  flex-wrap: wrap;
}

/* align styles */
.au.align-top,
[data-au~="align-top"]{
  align-items: flex-start;
}
.au.align-center,
[data-au~="align-center"]{
  align-items: center;
}
.au.align-base,
[data-au~="align-base"]{
  align-items: baseline;
}
.au.align-bottom,
[data-au~="align-bottom"]{
  align-items: flex-end;
}

/* justify styles */
.au.justify-left,
[data-au~="justify-left"]{
  justify-content: flex-start;
}
.au.justify-center,
[data-au~="justify-center"]{
  justify-content: center;
}
.au.justify-right,
[data-au~="justify-right"]{
  justify-content: flex-end;
}
.au.space-between,
[data-au~="space-between"]{
	justify-content: space-between;
}
.au.space-around,
[data-au~="space-around"]{
	justify-content: space-around;
}

/* text alignment styles */
.au.text-right,
[data-au~="text-right"]{
	text-align:right;
}
.au.text-left,
[data-au~="text-left"]{
	text-align:left;
}
.au.text-center,
[data-au~="text-center"]{
	text-align:center;
}

/* center everything */
.au.all-center,
[data-au~="all-center"]{
  align-items:center;
  justify-content:center;
}

/* *********************** */
/* *********************** */

/* flex items */
.au.flex-width,
[data-au~="flex-width"]{
  flex:auto;
  width:100%;
}
.au.flex-height,
[data-au~="flex-height"]{
  flex:auto;
  height:100%;
}
.au.set-width,
[data-au~="set-width"]{
  flex:none;
}
.au.set-height,
[data-au~="set-height"]{
  flex:none;
}

/* align self styles */
.au.align-self-top,
[data-au~="align-self-top"]{
	align-self:
	flex-start;
}
.au.align-self-bottom,
[data-au~="align-self-bottom"]{
	align-self:flex-end;
}
/* *********************** */
/* *********************** */
/* <END> AURUM FLEX STYLES */
/* *********************** */
/* *********************** */