/* <BEGIN> AURUM CSS RESET */

*{
  padding:0;
  margin:0;
  /* background-color:transparent; */
  box-sizing:border-box;
  background-size:contain;
  background-position:center;
	background-repeat:no-repeat;
	scroll-behavior: inherit;
  font-family:inherit;
  -webkit-tap-highlight-color: transparent;
  border-style: none;
}
/* *********************** */
/* *********************** */


/* native elements */
/* code */
pre,
code{
  font-family:monospace;
}
code{
  padding:0 5px;
  white-space: nowrap;
  border-radius:2px;
}
pre code{
  display:block;
  padding: 20px;
  line-height:1.1;
  white-space: break-spaces;
  overflow:auto;
}
/* other elements */
p{
  text-wrap:pretty;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

/* universal classes */
.hide,
[hidden]{
  display:none;
}
.show{
  display:block;
}
.show.au.flex-container,
.show[data-au~="flex-container"],
.show[data-au~="container"]{
  display:flex;
}
.clickable{
  cursor:pointer;
}
/* *********************** */
/* *********************** */
/* <END> AURUM CSS RESET */
/* *********************** */
/* *********************** */